@media(max-width:1300px) {
    body,
    .header,
    .intro__inner,
    .text,
    .content,
    .container,
    .aside,
    .intro,
    .staff-info {
        min-width: 320px;
        width: 100%;
    }
    .content {
        width: 654px;
        margin: auto;
    }
    .aside {
        width: 585px;
        margin: auto;
    }
    .staff ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 150px;
        padding-left: 30px;
    }
}

@media(max-width:768px) {
    .logo,
    .text,
    .content,
    .staff-info {
        padding-left: 30px;
    }
    .text {
        width: 320px;
        text-align: center;
    }
    .aside {
        width: 390px;
        margin: auto;
        /* padding-left: 100px; */
    }
    .nav ul li a {
        font: 400 18px/14px 'Open Sans', sans-serif;
        border: none;
    }
    .header .nav ul li.active a,
    .header .nav ul li.active a:hover,
    .header .nav ul li a:hover,
    .header .nav ul li a {
        border: none;
    }
    #menuToggle {
        display: block;
        width: 33px;
    }
    #menuToggle {
        display: block;
        position: relative;
        top: 15px;
        left: 50px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
        width: calc(100% - 50px);
    }
    #menuToggle a {
        text-decoration: none;
        color: #5b6168;
        transition: color 0.3s ease;
    }
    #menuToggle a:hover {
        color: #5b6168;
    }
    #menuToggle ul li a:hover {
        color: #23b7a4;
    }
    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }
    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #cdcdcd;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
    }
    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }
    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }
    #menuToggle input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }
    #menuToggle input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    #menuToggle input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }
    .main-menu {
        display: block;
        height: auto;
    }
    #menu {
        position: absolute;
        width: calc(100% + 150px);
        margin: -45px 0 0 -50px;
        padding: 20px;
        padding-top: 50px;
        background: #999;
        list-style-type: none;
        transform: translate(-100%, 0);
        transition: transform 0.5s ease-in-out;
    }
    #menu li {
        padding: 10px 0;
        font-size: 22px;
    }
    #menuToggle input:checked~ul {
        transform: none;
    }
}


}
@media(max-width:480px) {
    .text {
        width: 320px;
        text-align: center;
    }
}